.header_tab {
    padding: 20px;
    background-color: #96929269;
}


/* .table-custom th,
.table-custom td {
    text-align: center;
}

.table-custom th:first-child,
.table-custom td:first-child {
    width: 5%;
}

.table-custom th:nth-child(2),
.table-custom td:nth-child(2) {
    width: 5%;
} */

.table-custom th,
.table-custom td {
    text-align: center;
}

.table th:nth-child(1) {
    width: 10%;
}

.table th:nth-child(2) {
    width: 20%;
}

.table th:nth-child(3) {
    width: 15%;
}

.table th:nth-child(4) {
    width: 25%;
}

.table th:nth-child(5) {
    width: 10%;
}