.header_tab {
    padding: 20px;
    background-color: #96929269;
}


.table-custom th,
.table-custom td {
    text-align: center;
}

.table-custom th:first-child,
.table-custom td:first-child {
    width: 5%;
}

.table-custom th:nth-child(2),
.table-custom td:nth-child(2) {
    width: 5%;
}